{% extends 'base.html' %}

{% block title %}Plaid Link{% endblock %}

{% block header %}
<h2>Accounts</h2>
{% endblock %}

{% block content %}
<template id="row-template">
  <tr>
    <td><abbr class="full-name" title="full_name">name</abbr><span class="mask"> (xmask)</span></td>
    <td class="subtype"></td>
    <td><button type="button">Get Balance</button></td>
  </tr>
</template>

<table id="account-table">
  <thead>
    <th>Account</th>
    <th>Type</th>
    <th>Actions</th>
  </thead>
  <tbody>

  </tbody>
</table>
{% endblock %}

{% block scripts %}
<script>
  const accountTable = document.getElementById("account-table");
  async function getAccounts() {
    let accountResponse = await fetch("/api/get_accounts");
    let jsonResponse = await accountResponse.json();
    if ("accounts" in jsonResponse) {
      let accounts = jsonResponse["accounts"]
      for (account of accounts) {
        if ("content" in document.createElement("template")) {
          let template = document.querySelector("#row-template");
          let clone = template.content.cloneNode(true);

          let accountName = clone.querySelector(".full-name");
          accountName.title = account["official_name"]
          accountName.innerText = account["friendly_name"]
          
          let mask = clone.querySelector(".mask");
          mask.innerText = ` (x${account["mask"]})`

          let subtype = clone.querySelector(".subtype");
          subtype.innerText = account["subtype"];

          accountTable.append(clone);
        }
      }
    }
  }

  getAccounts();
  // fetch("/api/get_accounts").then(async raw_response => {
  //   let jsonResponse  = await raw_response.json();
  //   let accounts = jsonResponse['accounts'];
  //   console.log(accounts);
  //   for (account of accounts) {
  //     let row = document.createElement("tr");
  //     let accountNameCell = 
  //     accountTable.append(row);
  //   }
  // })
</script>
{% endblock %}