{% extends 'base.html' %}

{% block title %}Plaid Link{% endblock %}

{% block header %}
<h2>Accounts</h2>
{% endblock %}

{% block content %}
<table id="account-table">
  <tr>
    <th>Account</th>
    <th>Type</th>
    <th>Actions</th>
  </tr>
</table>
{% endblock %}

{% block scripts %}
<script>
  const accountTable = document.getElementById('account-table');
  fetch("/api/get_accounts").then(raw_response => {
    json_response 
  })
  let accounts = await(await fetch("/api/get_accounts").json());
  for (account of accounts) {
    console.log(account);
  }
</script>
{% endblock %}