{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block header %}
<h2>Register</h2>
{% endblock %}

{% block content %}
<form id="register-form">
  <input type="text" id="register-username" placeholder="your username" required>
  <input type="password" id="register-password" placeholder="choose password" required>
  <input type="password" id="register-password2" placeholder="repeat password" required>
  <button type="button" id="register-submit">
    <strong>Register</strong>
  </button>
</form>
{% endblock %}